<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=DESKTOP-BSFB417;Initial Catalog=Project;Persist Security Info=True;User ID=sa;Password=Covid21@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>